#app-view {
    display: -webkit-flex;
    -webkit-align-items: stretch;
    height: 100%;
}

#app-view #result-viewer {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    border: solid black 1px;
    -webkit-flex: 4;
}

#app-view #content-viewer {
    display: -webkit-flex;
    -webkit-flex-direction: column;    
    border: solid black 1px;
    -webkit-flex: 7;
}

#result-viewer #search-tool-container {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex: 1;
}

#result-viewer #groupings-container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex: 6;
}